@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';

:root {
    font-family: 'Arial';
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: hsl(var(--color-base-hue), 100%, 16%);
    /* background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light)); */
    /* background: -webkit-linear-gradient(aqua, white); */
    color: var(--color-text-light);
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}
